.DS_Store

# Python
__pycache__/
*.py[cod]
.python-version
.venv/
venv/

# Env
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/

# Logs
*.log

# Build and cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Local project artifacts
data/
qdrant_storage/
documents/
